body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  font-family: sans-serif;
  background-color: #eee;
}

.margin-dropdown-nav-section {
  margin-left: 10%;
}

.text-container {
  min-height: 65vh;
  padding: 30px 45px;
  margin-top: 10px;
  font-size: 18px;
  background-color: #fff;
  border-radius: 10px;
}

.text-container p {
  margin: 0 0 20px;
}

.text-container.small {
  text-align: center;
  padding: 30px 15px;
}

.navbar-inverse .navbar-nav>li.font-color-white>a {
    color: #fff;
}

.scroll-up-button {
  height: 55px;
  width: 55px;
  border-radius: 30px;
  background-color: rgba(200, 200, 200, 0.4);
  padding: 10px;
}

.scroll-up-icon {
  font-size: 33px;
  color: #555
}

.column-padding-top {
  padding-top: 260px;
}
