body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  font-family: 'Noto Sans', sans-serif;
  background-color: #eee;
  overflow-x: hidden;
}

.main-logo {
  color: #5dcee0;
}

.navbar {
  margin-bottom: 0;
  min-height: 55px;
}

.nav-item {
  color: #fff;
}

.nav-item:hover {
  color: #5dcee0;
}

#info-tabs {
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.text-container {
  min-height: 65vh;
  padding: 30px 15px;
  margin-top: 10px;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  background-color: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.text-container p {
  margin: 0 0 20px;
}

.text-container.small {
  padding: 30px 15px;
}

.navbar-brand .large {
  font-size: 26px;
  line-height: 40px;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
  color: #fff;
  background-color: #222;
}

a.dropdown-toggle {
  margin: 0 0 18px -15px;
}

@media screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

.scroll-up-button {
  height: 55px;
  width: 55px;
  border-radius: 30px;
  background-color: rgba(150, 150, 150, 0.4);
  padding: 10px;
  position: fixed;
  right: 6%;
  bottom: 5%;
}

.scroll-up-icon {
  font-size: 33px;
  color: #27b3ca;
}

.column-padding-top {
  padding-top: 260px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-all-5 {
  margin: 5px;
}

.margin-all-8 {
  margin: 8px;
}

.margin-auto {
  margin: 0 auto;
}

.padding-top-0 {
  padding-top: 0 !important;
}

.padding-left-0 {
  padding-left: 0 !important;
}

.padding-right-0 {
  padding-right: 0 !important;
}

.font-size-25 {
  font-size: 25px;
}

.font-size-20 {
  font-size: 20px;
}

.warn-input {
  border-color: maroon;
}

.warn-text {
  color: maroon !important;
}

.navbar .glyphicon {
  position: relative;
  top: 1px;
  left: 10px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word;
  font-size: 14px;
}

.glyphicon-class.small {
  display: inline-block;
  position: relative;
  left: 20px;
  bottom: 4px;
  font-size: 14px;
}

.glyphicon-class.info {
  padding-left: 9px;
}

.viewer-header {
  margin-top: 0;
  font-weight: bold;
  color: #222;
}

.thumbnail {
  margin-bottom: 0;
}

.thumbnail img {
  max-height: 100vh;
}

.no-padding {
  padding-right: 0;
  padding-left: 0;
}

.background-color-single-thumbnail {
  background-color: #ddd;
}

.toggle-button-container {
  background-color: #eee;
  border: none;
  /*margin: ;*/
}

.toggle-button-container:focus,
.toggle-button-container:active,
.toggle-button-container:hover {
  outline: none !important;
  box-shadow: none;
  background-color: #eee !important;
}

.submit-button-color {
  border: #5dcee0 solid;
}

.view-more-button {
  border: #5dcee0 solid;
  background-color: #eee;
  margin: 0 auto 5px auto;
}

.video-player video {
  background-color: #000;
}

.video-info-panel {
  min-height: 220px;
  background-color: white;
  margin-top: -5px;
  padding: 30px 50px 60px;
}

.video-info-panel-title {
  font-size: 38px;
  font-weight: bold;
}

.video-info-panel-dates {
  margin-top: 8px;
  font-size: 22px;
  color: #777;
}

.video-info-panel-description {
  margin-top: 20px;
  font-size: 22px;
  color: #333;
}

.video-info-panel-more {
  margin-top: 60px;
  padding-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

.view-more-title-row {
  min-height: 120px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
  border-top: 1px solid black;
  background-color: #ccc;
}

.view-more-title-row.photos {
  background-color: #777;
  color: #eee;
}

@media screen and (max-width: 767px) {
  .view-more-title-row {
    font-size: 28px;
    min-height: 80px;
  }
}

.view-more-media-row {
  min-height: 350px;
  padding-bottom: 40px;
  background-color: #ccc;
}

.view-more-media-row.photos {
  background-color: #777;
}

@media screen and (max-width: 767px) {
  .view-more-media-row {
    padding-bottom: 10px;
  }
}

.view-more-thumbnail {
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .view-more-thumbnail {
    font-size: 26px;
  }
}
